/* .wave {
    height: 350px;
    width: 350px;
    opacity: .5;
} */

/* .sidenav li > a:hover {
  background-color: #0d47a1;
  padding-top: 15px;
} */


ul {
  text-align: right;
}

/* .articles {
  color: #0d47a1!important;
  box-shadow: 3px 5px 12px 9px #888888;
  text-align: center!important;
} */

.user-view {
  text-align: right;
  line-height: 79px;
}

.navBurger {
  position: fixed!important;
}

.profile {
  color: #17D4FE!important;
  font-family: 'Lacquer', sans-serif;
}

.article-header {
  font-size: 2.28rem!important;
}